@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.min.css';
@import 'aos/dist/aos.css';
/* @import 'glightbox/dist/css/glightbox.min.css'; */
@import './assets/css/main.css';